.brand{
    &__list{}
    &__slider{}
}
.brand-item{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    transition: 0.3s;
    &:hover{
        .brand-item__circle{
            fill: #FF3E79;
        }
        .brand-item__arrow{
            fill: #FFF;
            transform: scale(1.1);
        }
    }
    &__icon{
        width: 40px;
        height: 40px;
    }
    &__circle{
        stroke-width: 2px;
        stroke: #FF3E79;
        transition: 0.3s ease-out;
    }
    &__arrow{
        fill: #FF3E79;
        transition: 0.3s ease-in;
        transform-origin: center;
    }
}