.subtitle{
    color: #7E7E82;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}
.brand{
    &__header{
        padding: 1rem;
        @media screen and (min-width: 768px) {
            padding: 1rem 1.5rem;
        }
        @media screen and (min-width: 1120px) {
            padding: 1rem 2rem;
        }
    }
    &__list{
        padding: 1rem 1rem 2.375rem;
        @media screen and (min-width: 768px) {
            padding: 1.5rem 1.5rem 2.125rem;
        }
        @media screen and (min-width: 1120px) {
            padding-top: 1.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}
.brand-list{
    background: linear-gradient(270deg, #F8F8F8 0%, #FFF 98.61%);
    // @media screen and (min-width: 768px) and (max-width: 1119px) {
    //     &--open &__slider .brand-list__item:nth-child(n + 7){
    //         display: block;
    //     }
    // }
    // @media screen and (min-width: 1120px) {
    // }
    &--open &__slider .brand-list__item:nth-child(n){
        display: block;
    }
    &--open .brand-more__text--show{
        display: none;
    }
    &--open .brand-more__text--hide{
        display: block;
    }
    &__slider{
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: flex-start;
            justify-content: flex-start;
            column-gap: 1.5rem;
            row-gap: 1rem;
        }
        @media screen and (min-width: 768px) and (max-width: 1119px) {
            .brand-list__item:nth-child(n + 7){
                display: none;
            }
            
        }
        @media screen and (min-width: 1120px) {
            grid-template-columns: repeat(4, 1fr);
            .brand-list__item:nth-child(n + 9){
                display: none;
            }
        }
    }
    &__item{
        @media screen and (min-width: 768px) {
            flex-basis: calc(33% - 1rem);
        }
    }
    &__control{
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
            padding-top: 1.5rem;
        }
    }
}
.brand-item{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid #EAEAEA;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.3s;
    &:hover{
        .brand-item__circle{
            fill: #FF3E79;
        }
        .brand-item__arrow{
            fill: #FFF;
            transform: scale(1.1);
        }
    }
    &__logo{
        width: auto;
        max-width: 115px;
        max-height: 40px;
        object-fit: contain;
    }
    &__icon{
        width: 40px;
        height: 40px;
    }
    &__circle{
        stroke-width: 2px;
        stroke: #FF3E79;
        transition: 0.3s ease-out;
    }
    &__arrow{
        fill: #FF3E79;
        transition: 0.3s ease-in;
        transform-origin: center;
    }
}

.brand-more{
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5rem;
    color: #1B1C21;
    font-weight: 500;
    letter-spacing: -0.2px;
    &__icon{
        width: 24px;
        height: 24px;
    }
    &__text{
        &--hide{
            display: none;
        }
    }
}